.sidebar {
  width: 220px;
  height: 100vh;
  background: #1f2937;
  color: white;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
}

.sidebar-logo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  color: #cbd5e0;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  transition: background 0.2s;
  cursor: pointer;
}

.sidebar-item:hover {
  background: #374151;
  color: #fff;
}

.sidebar-item.active {
  background-color: #4c66f5;
  color: white;
}


.sidebar-icon {
  margin-right: 10px;
  font-size: 18px;
}

.logout {
  margin-top: auto;
  color: #f87171;
}

.logout:hover {
  background: #7f1d1d;
  color: white;
}
